<div class="noticias">
  <div class="noticiastit">
    <h1> NOTÍCIAS </h1>
  </div>
  
  <div class="noticiasnot">
    <% @news.each do |news| %>
      <div class="titulonot">
        <b><%= news.title %></b>
      </div>
        <p> <%= news.description %> </p>
      <small>Data de atualização: <%= news.created_at %></small>
    
    <% end %>
  </div>
</div>
