.contato {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vw;
  padding-left: 2vw;
  display: flex;
  justify-content: space-between;
  .conttitulo {
    font-size: 1.2em;
  }
  .contform {
    .labelnome {
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 1.2em;  
    }
    .box, .boxtext {
      border: solid 1px;
      border-radius: 2px;
      box-shadow: 0.3px 0.3px;
      width: 20vw;
      margin-bottom: 1vw;
    }
    .boxtext {
      height: 8vw;
    }
    .button {
      border: solid 1px;
      border-radius: 2px;
      box-shadow: 0.2px 0.2px;
      padding: 0.3vh 1vh;
      justify-content: center;
      align-self: center;
      margin-bottom: 3vw;
    }
  }
  .contendereco {
    margin-right: 6vw;
    width: 300px;
    line-height: 2;
    p {
      font-family: 'Roboto', Helvetica, sans-serif;  
    }
    h2 {
      font-size: 2em;
    }
  }
}